body {
   background-color: #529ECC;
   color: white;
   text-align: center;
   font-family: arial;
   
}

h1 {
   padding-top: 80px;
   font-weight: normal;
}

.clockType {
   line-height: 0px;
   font-size: 120px;
}